PORT=3005
JWT_SECRET=secrethoang
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=nestjs-test

MAIL_HOST=smtp.gmail.com
MAIL_USER=hoangdh@omegatheme.com
MAIL_PASSWORD=gvslfztybharztqb
MAIL_FROM=${MAIL_USER}
MAIL_TRANSPORT=smtp://${MAIL_USER}:${MAIL_PASSWORD}@{MAIL_HOST}